<!-- Extending the layout page-->
{% extends "MapleCoin/layout.html" %}

<!-- The block part is where the new content will go-->
{% block page %}

    <!-- Title -->
    <h2 class="display-4 text-black title">
        Block
    </h2>  

    <hr class="line">

    <!-- Block Info -->
    <div class="section">

        <!-- Index -->
        <h5>
            Index :
        </h5>
        <p class="display-4 text-black info">
            {{ test.id }}
        </p>

        <!-- Previous Block Hash -->
        <h5>
            Previous Block Hash :
        </h5>
        <p class="display-4 text-black info">
            {{ test.previousBlockHash }}
        </p>

        <!-- Merkel Root -->
        <h5>
            Merkel Root :
        </h5>
        <p class="display-4 text-black info">
            {{ test.merkelRoot }}
        </p>

        <!-- Nonce -->
        <h5>
            Nonce :
        </h5>
            {{ test.nonce }}
        </p>

        <!-- Block Hash -->
        <h5>
            Block Hash :
        </h5>
        <p class="display-4 text-black info">
            {{ test.blockHash }}
        </p>

        <!-- Block Time-->
        <h5>
            Time when mined :
        </h5>
        <p class="display-4 text-black info">
            {{ test.blockTime }}
        </p>

        <!-- Miner -->
        <h5>
            Block Miner :
        </h5>
        <p class="display-4 text-black info">
            {{ test.miner }}
        </p>
        
    </div>
    <!-- End Block info -->

    <!-- Block Transactions-->
    <h4 class="display-4 text-black subtitle">
        Block Transactions
    </h4>
    
    <hr class="line">

    <!-- Fixed scrollable Table -->
    <div class="table-wrapper-scroll-y my-custom-scrollbar section" id="transactionSmall">

        <!-- Table -->
        <table class="table table-bordered table-striped mb-0" style="table-layout:fixed;">
            
            <!-- Table Head -->
            <thead>

                <th scope="col">Index</th>

                <th scope="col">Sender</th>

                <th scope="col">Reciever</th>

                <th scope="col">Amount</th>
                
                <th scope="col">Block</th>

            </thead>
            <!-- End Table Head-->

            <!-- Table Content -->
            <!-- For each transaction in transactions -->
            {% for transaction in transactions %}

                <!-- Start Row -->
                <tr>
                    <!-- Form to make the Transactions visitable-->
                    <form>

                        <!-- Index -->
                        <td>
                            <a href="{% url 'MapleCoin:viewTransaction' transaction.id 'trans' %}">
                                <input type="text" class="rowEntry" value= "{{ transaction.id }}" readonly>
                            </a>
                        </td>

                        <!-- Sender -->
                        <td>
                            <a href="{% url 'MapleCoin:viewTransaction' transaction.id 'trans' %}">
                                <input type="text" class="rowEntry" value= "{{ transaction.sender }}" readonly>
                            </a>
                        </td>

                        <!-- Reciever -->
                        <td>
                            <a href="{% url 'MapleCoin:viewTransaction' transaction.id 'trans' %}">
                                <input type="text" class="rowEntry" value= "{{ transaction.reciever }}" readonly>
                            </a>
                        </td>

                        <!-- Amount -->
                        <td>
                            <a href="{% url 'MapleCoin:viewTransaction' transaction.id 'trans' %}">
                                <input type="text" class="rowEntry" value= "{{ transaction.amount }}" readonly>
                            </a>
                        </td>

                        <!-- Block -->
                        <td>
                            <a href="{% url 'MapleCoin:viewTransaction' transaction.id 'trans' %}">
                                <input type="text" class="rowEntry" value= "{{ transaction.block }}" readonly>
                            </a>
                        </td>

                    </form>
                    <!-- End Form -->

                </tr>
                <!-- End Row -->

            {% endfor %}    
            <!-- End Table Content -->

        </table>
        <!-- End Table -->

    </div> 


    <!-- Block download -->
    <div class="section">

        <!-- Subtitle -->
        <h4 class="display-4 text-black subtitle"> 
            Downloads
        </h4>
    
        <hr class="line">
        
        <!-- Block download -->
        <form>
            <p>
                <button type="submit" formaction="{% url 'MapleCoin:downloadBlock' test.id %}" class="btn defaultButton"> 
                    Block
                </button>  
            </p>
        </form>
        
    </div>
    <!--End Block Download -->
{% endblock %}